<h2><%= @question.title %></h2>
<p><%=@question.body%></p>
<p><%@question.answers.each do |answer| %>
  <ul>
    <li> <%=answer.body%>, , <%= answer.responder.username %></li>
  </ul>
  <% end %>
</p>
