<h1>Login, right now!</h1>

<%= erb :_errors %>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="login_user" value="Login">
</form>
