body {
  padding: 20px;
}

.comment {
  background-color: lightgray;
  max-width: 500px;
  padding: 10px;
}

.answer {
  border: 2px solid red;
  max-width: 500px;
  padding: 10px;
}

.question {
  background-color: yellow;
  max-width: 500px;
  padding: 10px;
}

#best_answer {
  border: 5px dotted blue;
  padding: 10px;
  max-width: 600px;
}
