body {
  padding: 20px;
}

/* Homepage */
.new_question_form {
  display: none;
}

.new_question_button {
  padding: 10px 20px 11px !important;
  font-size: 21px !important;
  background-color: green;
  font-weight: bold;
  color: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 1px solid green;
}

/* Question Page */

.vote_count {
  font-size: 20px;
  margin: 2px;
}

.vote_container {
  text-align: center;
}

.body_text {
  background: yellow;
  padding: 10px;
  width: 450px
}

td {
  padding: 10px;
}

.best_answer_button {
  width: 100px;
  white-space: normal;
}

#logout_button {
  background-color: transparent;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  border: none;
  padding: 0px;
}

#logout_form {
  display: inline-block;
}

.comment {
  background-color: lightgray;
  max-width: 500px;
  padding: 10px;
  margin-left: 20px
}

.answer_container {
  border: 2px solid black;
  padding: 5px;
  max-width: 600px;
  margin: 10px;
}

.best_answer_container {
  border: 5px dotted blue;
  padding: 10px;
  max-width: 600px;
}

.question_container {
  border: 5px dotted red;
  padding: 10px;
  max-width: 600px;
}