<form class="new-comment-form" action='<%= comment_router(commentable_item) %>' method='POST'>
  Submit a Comment:<br>
  <input type="text" name="comment_body" size="40" placeholder="Comment Here">
  <input type="submit" name="Submit Comment">
</form>
