<div class="comments-container">
  <h4>Comments:</h4>
  <% comments.each do |comment| %>
    <p class="comment">"<%= comment.body %>"<br><br>
    Posted By: <%= comment.commenter.username %></p>
  <% end %>
</div>
